volumes:
  postgres:
  hatchet_lite_config:

services:
  postgres:
    image: postgres:17.5
    command: postgres -c 'max_connections=200'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: hatchet
    volumes:
      - postgres:/home/postgres/pgdata/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d postgres -U postgres"]
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 5s

  # Email: admin@example.com
  # Password: Admin123!!
  hatchet-lite:
    image: ghcr.io/hatchet-dev/hatchet/hatchet-lite:v0.70.6
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: "postgresql://postgres:postgres@postgres:5432/hatchet?sslmode=disable"
      SERVER_AUTH_COOKIE_DOMAIN: "${DC_HATCHET_LITE_LOCAL}"
      SERVER_AUTH_COOKIE_INSECURE: "t"
      SERVER_GRPC_BIND_ADDRESS: "0.0.0.0"
      SERVER_GRPC_INSECURE: "t"
      SERVER_GRPC_BROADCAST_ADDRESS: "${DC_HATCHET_LITE_LOCAL}:7070"
      SERVER_GRPC_PORT: "7070"
      SERVER_URL: "http://${DC_HATCHET_LITE_LOCAL}:8888/"
      SERVER_AUTH_SET_EMAIL_VERIFIED: "t"
      SERVER_DEFAULT_ENGINE_VERSION: "V1"
      SERVER_INTERNAL_CLIENT_INTERNAL_GRPC_BROADCAST_ADDRESS: "hatchet-lite:7070"
    volumes:
      - "hatchet_lite_config:/config"
