name: Build

on:
  push:
    branches:
      - main
  pull_request_target:
    branches:
      - main

jobs:
  node-monorepo-stack:
    name: CI/CD
    uses: abinnovision/actions/.github/workflows/workflow.yaml@node-monorepo-stack-v1
    with:
      # Publishing configuration
      enable-package-publishing: true
      enable-packages-registry-npm: true
      enable-packages-registry-ghpr: true

      run-build-before-check: true

      test-types: unit
    secrets:
      GH_APP_IDENTIFICATION_RELEASER: ${{ secrets.GH_APP_IDENTIFICATION_RELEASER }}
